<div id="profile-page" *ngIf="profile">
    <form name="editForm" role="form" novalidate (ngSubmit)="updateProfile()" #editForm="ngForm">
        <div class="modal-body">
            <div class="ui-g-12">
                <div class="form-group ui-g-12">
                    <h1>{{ 'PROFILE.PERSONAL' | translate }}</h1>
                </div>
                <div class="form-group ui-g-12">
                    <label class="form-control-label required"
                      for="field_name">{{ 'PROFILE.NAME' | translate }}</label>
                    <input type="text" pInputText class="form-control" name="name" id="field_name"
                    [(ngModel)]="profile.name" required />
                </div>
                <div class="form-group ui-g-6">
                    <img class="profile-avatar" [src]="profile.avatar">
                </div>
                <div class="form-group ui-g-6">
                    <label class="form-control-label required"
                      for="field_email">{{ 'PROFILE.EMAIL' | translate }}</label>
                    <input type="email" pInputText class=" form-control" name="email"
                      id="field_email" [(ngModel)]="profile.email" required />
                </div>
                <div class="form-group ui-g-6">
                    <label class="form-control-label required"
                      for="field_position">{{ 'PROFILE.POSITION' | translate }}</label>
                    <input type="text" pInputText class=" form-control" name="position"
                      id="field_position" [(ngModel)]="profile.position" required />
                </div>
                <div class="form-group ui-g-6">
                    <label class="form-control-label"
                      for="field_mobileNum">{{ 'PROFILE.PHONE' | translate }}</label>
                    <input type="text" pInputText class="form-control" name="mobileNum" id="field_mobileNum"
                      [(ngModel)]="profile.phone" />
                </div>
            </div>
            <div class="ui-g-12">
                <app-social [(social)]="profile.socials"></app-social>
            </div>
            <div class="ui-g-12">
                <div class="form-group ui-g-12">
                    <h1>{{ 'PROFILE.OTHER' | translate }}</h1>
                </div>
                <div class="form-group ui-g-6">
                    <label class="form-control-label required"
                      for="field_deskNumber">{{ 'PROFILE.DESK_NUM' | translate }}</label>
                    <input type="text" pInputText class="form-control" name="deskNumber" id="field_deskNumber"
                      [(ngModel)]="profile.deskNumber" />        
                </div>
                <div class="form-group ui-g-6">
                    <label class="form-control-label required"
                      for="field_roomNumber">{{ 'PROFILE.ROOM_NUM' | translate }}</label>
                    <input type="text" pInputText class="form-control" name="roomNumber" id="field_roomNumber"
                      [(ngModel)]="profile.roomNumber" />
                </div>
            </div>
            <div class="form-group ui-g-12">
                <app-skills [(skills)]="skills"></app-skills>
            </div>
            <div class="modal-footer ui-g-12">
                <button pButton type="submit" [disabled]="editForm.form.invalid"
                  label="{{ 'GLOBAL.SAVE' | translate }}"></button>
            </div>
        </div>
    </form>
</div>
