$magenta: #e20074
$dark-grey: #4a4a4a
$white: #fff
    
#profile-page
    display: flex
    margin: 100px auto
    width: 50%
    background: $white
    box-shadow: 0 0 4px 0 $magenta

    .profile-avatar
        width: 100%

    h1
        color: $dark-grey
        font-size: 25px

    h1::before
        content: '▪ '
        color: $magenta

    h1::after
        content: ' ▪ ▪ ▪'
        color: $magenta