<div id="dashboard">
    <div class="container">
        <div class="row">
            
            <div class="ui-g-3">
                <app-profile-dialog></app-profile-dialog>
            </div>
            <div class="ui-g-1">
                <app-parking></app-parking>
            </div>           
            <div class="ui-g-8">
                <div class="widget-panel">
                    <app-news></app-news>
                </div>
            </div>
                
            
            <div class="ui-g-7">
                <app-calendar></app-calendar>
            </div>
            <div class="ui-g-5">
                <div class="widget-panel">
                    <img src="../../assets/images/events.jpg" width="80%">
                </div>                
            </div>
               
            <div class="ui-g-12">
                <app-map></app-map>
            </div>
            
        </div>
    </div>
</div>
