<div *ngIf="profile" class="widget-panel">
    <div>
        <div class="ui-g-6">
            <img class="profile-avatar" [src]="profile.avatar" width="100">
        </div>
        <div class="ui-g-6">
          <div>
            <span>{{'GLOBAL.WELCOME' | translate}}</span>
          </div>
          <hr>
          <div>
            <span>{{profile.name}}</span>
          </div>
        </div>
    </div>
</div>
