$magenta: #e20074
$light-magenta: #d782ae
$white: #fff
$light-grey: #ececec

body
	margin: 0
	background: $light-grey !important

	.form-control-label 
		&.required 
			&::after 
				content: " *" 
				color: red 
	
	.ui-button          
		font-size: 20px !important              
		padding: 0 50px !important  
		background: $white !important  
		border: 5px solid $light-magenta !important  
		border-radius: 10px 0 !important  
		color: $light-magenta !important  

	.ui-inputtext
		width: 100%
		height: 50px
		background: $white !important
		border: 2px solid $light-magenta !important

	.ui-dropdown
		background: transparent !important
		border: 1px solid $light-magenta !important
		margin: 8px 0 0 5%
		min-width: 4.5em

	.ui-dropdown-trigger
		background-color: transparent !important

	.ui-dropdown-label-container
		label
			font-size: 19px

	.widget-panel
		display: flex
		background: $white
		border: 2px solid $light-magenta
		border-radius: 10px 0
		padding: 15px

	.blue-tile
		background: white
		border: 2px solid #01a0e2
		border-radius: 10px 0
		padding: 15px
		color: #01a0e2
		font-size: 25px
		padding: 63px 30px