<table style="width:100%">
    <tr>
        <td><img src="../../assets/images/def_new.jpg" width="42px"></td>
        <td> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti optio ex nobis omnis.</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/def_new.jpg" width="42px"></td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti optio ex nobis omnis.</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/def_new.jpg" width="42px"></td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti optio ex nobis omnis.</td>
    </tr>
</table> 