<div id="map">
    <div class="widget-panel">
        <div class="ui-g-8">            
            <img src="../../assets/images/map.png">
        </div>
        <div class="ui-g-4">
            <div class="form-group ui-g-12">
                <h1>{{ 'MAP.HEADER' | translate }}</h1>
            </div>
            <div class="form-group ui-g-12">
                <div class="ui-g-12">
                    <label class="form-control-label required" for="field_name">{{ 'MAP.ROOM' | translate }}</label> 
                </div> 
                <div class="ui-g-12">
                    <p-dropdown title="{{ 'MAP.ROOM' | translate }}" class="mapSelect" 
                        [style]="{'width':'100%', 'margin':'0'}" [options]="arrayOfRooms"></p-dropdown>
                </div>
            </div>
            <div class="form-group ui-g-12">
                <div class="ui-g-12">
                    <label class="form-control-label required" for="field_name">{{ 'MAP.MINDATE' | translate }}</label> 
                </div>
                <div class="ui-g-12">
                    <p-calendar [disabledDates]="invalidMinDates" showTime="true" hourFormat="24" [readonlyInput]="true"></p-calendar>
                </div>
            </div>
            <div class="form-group ui-g-12">
                <div class="ui-g-12">
                    <label class="form-control-label required" for="field_name">{{ 'MAP.MAXDATE' | translate }}</label> 
                </div>
                <div class="ui-g-12">
                    <p-calendar [disabledDates]="invalidMaxDates" showTime="true" hourFormat="24" readonlyInput="true"></p-calendar>
                </div>
            </div>
        </div>
    </div>
</div>