$magenta: #e20074
$dark-grey: #4a4a4a
$white: #fff
    
#map
    img
        width: 100%
        border: 1px solid $dark-grey
        border-radius: 10px 0

    h1
        color: $dark-grey
        font-size: 25px

    h1::before
        content: '▪ '
        color: $magenta

    h1::after
        content: ' ▪ ▪ ▪'
        color: $magenta