$white: #fff
$magenta: #e20074
$light-magenta: #d782ae

$smartphone: "(max-width: 767px)" 
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"


#login 
    background: $magenta
    background-repeat: repeat-x
    height: 70px

    .login-panel
        background: $white
        padding: 4px
        width: 500px
        height: 100px
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        max-width: 100%
        max-height: 100%
        overflow: none
        border-radius: 10px 0

    .login-forms
        span
            margin: 15px 0 45px 0

            input
                width: 100%
                height: 60px
                background: $white
                border: 2px solid $light-magenta

            label
                font-size: 25px

    .login-btn-block
        text-align: center

    .tconnect-logo
        position: absolute
        top: 35px        
        left: 50%
        transform: translate(-50%, -50%)
        

        img
            width: 400px

    .header-profile
        position: absolute
        display: inline-block
        background: url('../../assets/images/default-header-avatar.jpg')
        background-repeat: no-repeat
        background-size: cover
        width: 50px
        height: 50px
        right: 5%
        margin: 10px 0
        border-radius: 50%        

@media ($smartphone)
    #login
        .login-panel
            width: 90%
            padding: 20px

        .tconnect-logo
            img
                width: 100%