<div id="login" class="fixed-top">
    <app-lang-chooser></app-lang-chooser>
    <div class="tconnect-logo">
        <img (click)="home()" src="../../assets/images/tconnect.png">
    </div>   
    <div class="header-profile" (click)="profile()">
        
    </div>
</div>