<p-dialog [(visible)]="display" [modal]="true"
  [responsive]="true" [style]="{width: '400px'}">
  <img src="../../assets/images/park.png" width="380" height="580">
</p-dialog>

<button class="blue-tile" type="button" (click)="open()">P</button>
