$magenta: #e20074
$dark-grey: #4a4a4a
    
h1
    color: $dark-grey
    font-size: 25px

h1::before
    content: '▪ '
    color: $magenta

h1::after
    content: ' ▪ ▪ ▪'
    color: $magenta

a
    float: right