<div class="ui-g-6">
  <h1>{{ 'SKILLS.SKILLS' | translate }}</h1>
</div>
<div class="ui-g-6">
  <a  href="javascript:void(0)" (click)="addSkill()" class="ui-g-1 text-right">
    <i class="pi pi-plus"></i>
  </a>
</div>
<div *ngFor="let skill of skills; let i = index">
<div class="ui-g-6">
  <label class="form-control-label required "
          for="field_title">{{ 'SKILLS.TITLE' | translate }}</label>
        <input type="text" pInputText class="form-control" name="title" id="field_title"
          [(ngModel)]="skill.skills.title" required />
        </div>
<div class="ui-g-6">
  <label class="form-control-label required"
          for="field_description">{{ 'SKILLS.DESCRIPTION' | translate }}</label>
        <input type="text" pInputText class="form-control" name="description" id="field_description"
          [(ngModel)]="skill.skills.description" required />
</div>
<div class="ui-g-11">
  <label class="form-control-label"
          for="field_level">{{ 'SKILLS.LEVEL' | translate }}</label>
          <span style="padding-left: 5em;">{{skill.level}}</span>
    <p-slider [(ngModel)]="skill.level" [min]="1" [max]="5" [step]="1" name="level" id="field_level"></p-slider>
</div>
<div class="ui-g-1">
  <a href="javascript:void(0)" (click)="deleteSkill(i)">
    <i class="pi pi-trash"></i>
  </a>
</div>
      </div>

