<div class="form-group ui-g-12">
    <h1>{{ 'PROFILE.SOCIALS' | translate }}</h1>
</div>
<div class="ui-g-6">
    <label class="form-control-label"
          for="field_facebook">Facebook</label>
        <input type="text" pInputText class="form-control" name="facebook" id="field_facebook"
          [(ngModel)]="social.facebookUrl" />
</div>
<div class="ui-g-6">
    <label class="form-control-label"
          for="field_twitter">Twitter</label>
        <input type="text" pInputText class="form-control" name="twitter" id="field_twitter"
          [(ngModel)]="social.twitterUrl" />
</div>
<div class="ui-g-6">
    <label class="form-control-label"
          for="field_linkedin">LinkedIn</label>
        <input type="text" pInputText class="form-control" name="linkedin" id="field_linkedin"
          [(ngModel)]="social.linkedinUrl" />
</div>
<div class="ui-g-6">
    <label class="form-control-label"
          for="field_github">GitHub</label>
        <input type="text" pInputText class="form-control" name="github" id="field_github"
          [(ngModel)]="social.githubUrl" />
</div>