$white: #fff
$magenta: #e20074
$light-magenta: #d782ae

$smartphone: "(max-width: 767px)" 
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"


#login 
    background: $magenta
    background-repeat: repeat-x
    height: 100vh

    .login-panel
        background: $white
        padding: 40px
        width: 500px
        height: 335px
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        max-width: 100%
        max-height: 100%
        overflow: none
        border-radius: 10px 0

    .login-forms
        span
            margin: 10px 0 40px 0

            input
                width: 100%
                height: 50px
                background: $white
                border: 2px solid $light-magenta

            label
                font-size: 20px

    .login-btn-block
        text-align: center

    .tconnect-logo
        position: absolute
        top: 0        
        left: 50%
        transform: translate(-50%, -50%)
        margin-top: 7em

        img
            width: 500px

@media ($smartphone)
    #login
        .login-panel
            width: 90%
            padding: 20px

        .tconnect-logo
            img
                width: 100%