<div id="login">
    <div class="login-panel">
        <div class="login-forms">
            <span class="ui-float-label">
                <input [(ngModel)]="username" id="float-input" type="text" pInputText>
                <label for="float-input">{{ 'LOGIN.USERNAME' | translate }}</label>
            </span>
            <span class="ui-float-label">
                <input [(ngModel)]="password" id="float-input" type="password" pInputText>
                <label for="float-input">{{ 'LOGIN.PASSWORD' | translate }}</label>
            </span>
        </div>
        <div class="login-btn-block">
            <p-button label="{{ 'LOGIN.LOGIN' | translate }}" (click)="callLogin()"></p-button>
        </div>
    </div>
</div>
